<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Routes Dashboard</title>
    <!--link rel="stylesheet" th:href="@{/css/normalize.css}"-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
  $(document).ready(function() {
    $('#routesTable').DataTable();
  });
</script>
    <style>
      body {
	  font-family: sans-serif;
	  background-color: lightgrey;
      }
      h1 {
	  text-align: center;
      }
      p {
	  font-size: small;
      }
    </style>
    
</head>
<body>
  <h1>Mitch Connect</h1>
  <h2>Routes Dashboard</h2>
  <div th:if="${session.message}">
    <p th:text="${session.message}"></p>
  </div>
  <div th:if="${session.error}">
    <p th:text="${session.error}"></p>
  </div>

  <a href="/ui/routes/load">
  <button type="button">Click to load new temporary route</button>
  </a>  
  <h2>Routes</h2>
    <table id="routesTable" border="1">
        <thead>
            <tr>
                <th>Route ID</th>
                <th>Status</th>
                <th>Uptime</th>
                <th>Completed</th>
                <th>Failed</th>
                <th>Inflight</th>
		<th>Actions</th>
            </tr>
        </thead>
        <tbody>
<tr th:each="routeMap : ${routes}">
                <th:block th:each="entry : ${routeMap.entrySet()}">
                    <td th:text="${entry.key}"></td>
                    <td th:text="${entry.value[0]}"></td>
                    <td th:text="${entry.value[1]}"></td>
                    <td th:text="${entry.value[2]}"></td>
                    <td th:text="${entry.value[3]}"></td>
                    <td th:text="${entry.value[4]}"></td>
                    <td>
		      <div style="display: flex; gap: 1rem;">
                        <form th:action="@{/ui/routes/{routeId}/start(routeId=${entry.key})}" method="post">
                            <button type="submit" th:if="${entry.value[0] == 'Stopped' or entry.value[0] == 'Suspended'}">Start</button>
                        </form>
                        <form th:action="@{/ui/routes/{routeId}/remove(routeId=${entry.key})}" method="post">
                            <button type="submit" th:if="${entry.value[0] == 'Stopped' or entry.value[0] == 'Suspended'}">Remove</button>
                        </form>
                        <form th:action="@{/ui/routes/{routeId}/stop(routeId=${entry.key})}" method="post">
                            <button type="submit" th:if="${entry.value[0] == 'Started'}">Stop</button>
                        </form>
                        <form th:action="@{/ui/routes/{routeId}/suspend(routeId=${entry.key})}" method="post">
                            <button type="submit" th:if="${entry.value[0] == 'Started'}">Suspend</button>
                        </form>
			</div>
                    </td>
                </th:block>
            </tr>
        </tbody>
</table>
<p>
  The user interface default is at localhost:8080/ui/routes.
  The api uses localhost:8080/api/routes2 and
  is most easily accessed at
  <a href="http://localhost:8080/swagger-ui/index.html">localhost:8080/swagger-ui/index.html</a>.
  (which is not currently password protected).
</p>
<p>
  Message bodies are written using JPA to route-messages.db,
  table route_messages. Counts of written records by route
  are at <a href="http://localhost:8080/ui/db/counts">localhost:8080/ui/db/counts</a>.
  Message bodies may be written at multiple points in the route,
  so this does not reflect the number of messages,
  but a GROUP BY exchange_id will change that.
</p>
<p>Password protection is weak right now and will
  be replaced; see the keycloak branch at github.
</p>
<p>
  There are three preloaded routes.  Their yaml definitions are in 
  folders src/main/resources/loadedroutes/no_ssl and ...ssl2.
  There are also several routes under src/main/resources/unloadedroutes,
  and they can be loaded via the "load routes" button above.
</p>
<p>
  The MllpSSLForwarding route receives an encrypted HL7v2 message on one port,
  forwards it using encryption to another port, and returns the reply
  from the final port to the original sender.  The truststore and keystore files  and passwords are set in src/main/resources/application.yaml,
  under camel: mllp: ssl:  as are the ports to use.
  Initial values are set to retrieve from port 15679 and forward to port 15678
</p> 
<p>
  The No SSL send and receive routes pick up ports from
  src/main/resources/application.yaml at camel: mllp: no_ssl:
  which are initially set for receiving on 15681 and sending on 15682.
</p>
<p>
  One goal of this project is to provide an Apache Camel "dashboard"
  that will make some sense to users of Mirth Connect
  and enable them to write and experiment with routes written in yaml.
  That's why the preloaded routes involve MLLP, a healthcare-specific
  protocol.  But Camel is capable of talking to just about everything,
  and you can get some idea of that at <a href="https://camel.apache.org/components/4.10.x/index.html">https://camel.apache.org/components/4.10.x/index.html</a>
  Each component is documented, and the Spring Boot Auto-Configuration
  section will show you dependencies needed (see below).
</p>
<p>
  If you wish to use camel components that are not already built in,
  you'll need to add their dependencies to the pom.xml file.
  Because that file includes the dependency
  camel-spring-boot-starter, yaml routes can use
  the following components without adding dependencies:
  <list>
    <li>bean: Invokes methods on Java beans registered in the Camel registry.
    </li><li>browse: Inspects messages received on endpoints that support browsing.
    </li><li>controlbus: Manages and monitors Camel routes.   
    </li><li>dataformat: Uses Camel data formats as regular Camel components.
    </li><li>dataset: Provides data for load and soak testing.
    </li><li>direct: Calls another endpoint within the same Camel context synchronously.   
    </li><li>language: Executes scripts in various languages supported by Camel (e.g., simple, groovy, etc.).   
    </li><li>log: Logs message data.
    </li><li>mock: Mocks endpoints for testing routes.
    </li><li>ref: Routes messages to endpoints looked up dynamically in the Camel registry.   
    </li><li>rest: Exposes and consumes RESTful services.
    </li><li>saga: Implements the Saga pattern for distributed transactions.
    </li><li>scheduler: Generates messages at specified intervals using java.util.concurrent.ScheduledExecutorService.
    </li><li>seda: Asynchronously calls another endpoint within the same JVM.   
    </li><li>stub: Stubs out physical endpoints during development or testing.
    </li><li>timer: Generates messages at specified intervals using java.util.Timer.
    </li><li>validator: Validates message payloads using XML schema.
    </li><li>xpath: Evaluates XPath expressions.
    </li><li>xslt: Transforms XML payloads using XSLT templates.   
</p>
</body>
</html>
