<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Route Management 2</title>
    <!--link rel="stylesheet" th:href="@{/css/normalize.css}"-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
  $(document).ready(function() {
    $('#routesTable').DataTable();
  });
</script>
    
</head>
<body>
  <h1>Routes</h1>
  <h3>Click button to load a new temporary route from text or file</h3>
  <div th:if="${session.message}">
    <p th:text="${session.message}"></p>
  </div>
  <div th:if="${session.error}">
    <p th:text="${session.error}"></p>
  </div>

  <a href="/ui/routes/load">
  <button type="button">New temporary route</button>
</a>  
    <table id="routesTable" border="1">
        <thead>
            <tr>
                <th>Route ID</th>
                <th>Status</th>
                <th>Uptime</th>
                <th>Completed</th>
                <th>Failed</th>
                <th>Inflight</th>
		<th>Actions</th>
            </tr>
        </thead>
        <tbody>
<tr th:each="routeMap : ${routes}">
                <th:block th:each="entry : ${routeMap.entrySet()}">
                    <td th:text="${entry.key}"></td>
                    <td th:text="${entry.value[0]}"></td>
                    <td th:text="${entry.value[1]}"></td>
                    <td th:text="${entry.value[2]}"></td>
                    <td th:text="${entry.value[3]}"></td>
                    <td th:text="${entry.value[4]}"></td>
                    <td>
                        <form th:action="@{/ui/routes/{routeId}/start(routeId=${entry.key})}" method="post">
                            <button type="submit" th:if="${entry.value[0] == 'Stopped' or entry.value[0] == 'Suspended'}">Start</button>
                        </form>
                        <form th:action="@{/ui/routes/{routeId}/stop(routeId=${entry.key})}" method="post">
                            <button type="submit" th:if="${entry.value[0] == 'Started'}">Stop</button>
                        </form>
                        <form th:action="@{/ui/routes/{routeId}/suspend(routeId=${entry.key})}" method="post">
                            <button type="submit" th:if="${entry.value[0] == 'Started'}">Suspend</button>
                        </form>
                    </td>
                </th:block>
            </tr>
        </tbody>
</table>
    <div>The user interface is at /ui/routes.  The api uses /api/routes2 and
      is most easily accessed at /swagger-ui/index.html (which is not currently
      password protected.  Password protection is weak right now and will
    be replaced.</div>
    <div>The MLLP route receives an encrypted HL7v2 message on one port, forwards it using encryption to another port, and returns the reply from the final port to the original sender.  The truststore and keystore files and passwords are set in the application.yaml file, as are the routes, under camel/mllp/ssl. </div> 
    <div> The No SSL send and receive routes pick up ports from camel/mllp/nossl
      </div>
    <div>Because the pom.xml file includes the dependency
      camel-spring-boot-starter, yaml routes can use
      the following components without adding dependencies:
      <list>
<li>bean: Invokes methods on Java beans registered in the Camel registry.
</li><li>browse: Inspects messages received on endpoints that support browsing.
</li><li>controlbus: Manages and monitors Camel routes.   
</li><li>dataformat: Uses Camel data formats as regular Camel components.
</li><li>dataset: Provides data for load and soak testing.
</li><li>direct: Calls another endpoint within the same Camel context synchronously.   
</li><li>language: Executes scripts in various languages supported by Camel (e.g., simple, groovy, etc.).   
</li><li>log: Logs message data.
</li><li>mock: Mocks endpoints for testing routes.
</li><li>ref: Routes messages to endpoints looked up dynamically in the Camel registry.   
</li><li>rest: Exposes and consumes RESTful services.
</li><li>saga: Implements the Saga pattern for distributed transactions.
</li><li>scheduler: Generates messages at specified intervals using java.util.concurrent.ScheduledExecutorService.
</li><li>seda: Asynchronously calls another endpoint within the same JVM.   
</li><li>stub: Stubs out physical endpoints during development or testing.
</li><li>timer: Generates messages at specified intervals using java.util.Timer.
</li><li>validator: Validates message payloads using XML schema.
</li><li>xpath: Evaluates XPath expressions.
</li><li>xslt: Transforms XML payloads using XSLT templates.   
</div>
</body>
</html>
